<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
        <% trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :departure %>
  <%= form.text_field :departure, readonly: form.object.persisted? %>
  <%= form.label :destination%>
  <%= form.text_field :destination, readonly: form.object.persisted? %>

  <div class="actions">
    <%= form.submit 'Créer ma Demande !' %>
  </div>
<% end %>
