<%= form_with(model: trip, local: true, class: 'ui form') do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation" class="ui red raised segment">
      <h3><%= pluralize(trip.errors.count, "erreur") %> ont empêché l'enregistrement de ce Trajet :</h3>
      <ul>
        <% trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <%= form.label :departure, 'Départ' %>
  <%= form.text_field :departure, readonly: form.object.persisted? %>
  </div>
  <div class="field">
  <%= form.label :destination, 'Destination' %>
  <%= form.text_field :destination, readonly: form.object.persisted? %>
  </div>

  <div class="actions">
    <%= form.submit 'Créer ma Demande !', class: 'ui button primary' %>
  </div>
<% end %>
