<% unless notice.nil? %>
<div id="notice" class="ui green raised segment"><%= notice %></div>
<% end %>

<%= link_to new_trip_path do %>
  <button class="ui primary button">
    <i class="car icon"></i>Nouveau Trajet
  </button>
<% end %>

<h3>Liste de mes Trajets :</h3>
<div class="ui relaxed divided list">
  <% @trips.each do |trip| %>
    <div class="item">
      <i class="large car middle aligned icon"></i>
      <div class="content">
        <%= link_to trip, class: :header do %><%= trip.departure %> - <%= trip.destination %><% end %>
        <div class="description"><%= trip.uid %> / Etat: <%= trip.status %></div>
      </div>
    </div>
  <% end %>
</div>
