<p id="notice"><%= notice %></p>

<h1>Informations Trajet</h1>
<ul>
    <li>Départ: <%= @trip.departure %></li>
    <li>Arrivée: <%= @trip.destination %></li>
</ul>

<div><%= @trip.status %></div>

<% if @trip.status != 'STARTED' %>
    <%= link_to 'Je monte en voiture !', start_trip_path(@trip), method: :put %>
<% end %>
<% if @trip.status != 'CANCELLED' %>
    <%= link_to 'Annuler ma demande', cancel_trip_path(@trip), method: :put %>
<% end %>
